# Env & credenziali
.env
service-account.json
token.json

# Logs & dati locali
client_status.json
log_domande_ia.txt
faq_generate.txt

# Node
node_modules/




log_ia_full.txt

log_recensioni.txt

session/

.wwebjs_cache/
